<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-lazy-init="true">

    <description>shiro 安全框架配置</description>

    <!-- 用户授权信息Cache, 采用EhCache -->
    <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml"/>
    </bean>

    <!-- 凭证匹配 -->
    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="md5"/>
        <property name="hashIterations" value="1"/>
        <property name="storedCredentialsHexEncoded" value="true"/>
    </bean>

    <bean id="loginRealm" class="com.starnetsecurity.parkClientServer.shiro.realm.LoginRealm">
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>

    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="rememberMe"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="604800"/><!-- 7天 -->
    </bean>

    <!-- rememberMe管理器 -->
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cipherKey"
                  value="#{T(org.apache.shiro.codec.Base64).decode('c2VjdXJpdHlwYXJrc2tleQ==')}"/>
        <property name="cookie" ref="rememberMeCookie"/>
    </bean>

    <!-- 会话ID生成器 -->
    <bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"/>

    <!-- 会话Cookie模板 -->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="sid"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="-1"/>
    </bean>

    <!-- 会话DAO -->
    <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
        <property name="activeSessionsCacheName" value="shiro-activeSessionCache"/>
        <property name="sessionIdGenerator" ref="sessionIdGenerator"/>
    </bean>

    <!-- 会话管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="globalSessionTimeout" value="1800000"/>
        <property name="deleteInvalidSessions" value="true"/>
        <property name="sessionValidationSchedulerEnabled" value="true"/>
        <property name="sessionDAO" ref="sessionDAO"/>
        <property name="sessionIdCookieEnabled" value="true"/>
        <property name="sessionIdCookie" ref="sessionIdCookie"/>
    </bean>

    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="loginRealm"/>
        <property name="cacheManager" ref="shiroEhcacheManager"/>
        <property name="rememberMeManager" ref="rememberMeManager"/>
    </bean>


    <bean id="anyRolesAuthorizationFilter" class="com.starnetsecurity.common.shiro.filter.AnyRolesAuthorizationFilter"/>

    <bean id="adminLoginAccessFilter" class="com.starnetsecurity.parkClientServer.shiro.filter.AdminLoginAccessFilter">
        <property name="loginSuccessUrl" value="/system/index"></property>
    </bean>

    <bean id="adminUserFilter" class="com.starnetsecurity.parkClientServer.shiro.filter.AdminUserFilter"/>

    <bean id="tokenFilter" class="com.starnetsecurity.parkClientServer.shiro.filter.TokenFilter"/>

    <bean id="logoutFilter" class="org.apache.shiro.web.filter.authc.LogoutFilter"></bean>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/account/login"/>
        <property name="unauthorizedUrl" value="/error/405.html"/>
        <property name="filters">
            <util:map>
                <entry key="roles" value-ref="anyRolesAuthorizationFilter"/>
                <entry key="adminLogin" value-ref="adminLoginAccessFilter"/>
                <entry key="adminUser" value-ref="adminUserFilter"/>
                <entry key="token" value-ref="tokenFilter"/>
                <entry key="logout" value-ref="logoutFilter"/>
            </util:map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /public/file/** = anon
                /order/** = anon
                /index/** = anon
                /vehicle/** = anon
                /eduPlatIndex/** = anon
                /allinPay/** = anon
                /account/logout = logout
                /account/login = adminLogin
                /favicon.ico = anon
                /resources/** = anon
                /config/** = anon
                /error/** = anon
                /** = token,adminUser
            </value>
        </property>
    </bean>

    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
</beans>